<md-toolbar color="primary">
  <div class="full-width">
    <div style="width: 49%; float: left">
      <h4 md-line class="title heading full-width">{{title}}</h4>
      <p md-line class="title sub-heading full-width" style="font-size: 0.5em;">{{sub_title}}</p>  
    </div>
    <div style="width: 49%; float: right">
      <button md-raised-button class="title sub-heading" style="font-size: 1em; float: right" color="accent" (click)="clickLogin()"><i class="material-icons">person</i></button>  
    </div>
  </div>
</md-toolbar>
<router-outlet></router-outlet>
