@import url('../../palette.css');

.main {
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

.new-poll-input {
  width: 100%;
}

.new-poll-submit {
  float: right;
}

.new-poll-add {
  float: left;
}

.new-poll-full {
  width: 100%;
}

.poll-button {
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}